<button *ngIf="addingNew" (click)="cancelAdd()">Cancel</button>
Name: {{staff.person && staff.person.name}}
Current Position: {{staff.currentAssignment && staff.currentAssignment.position.title}}
<button (click)="addAssignment()">New Assignment</button>
<div *ngIf="staff.assignments">
  Previous assignments: <button (click)="changeSort()">{{ _reverseSort ? 'Asc' : 'Desc' }}</button>
  <ul>
    <li *ngFor="let assignment of sortedAssignments">
      {{assignment.position.title}} - 
      from {{assignment.startDate | date:'d MMM yyyy'}} 
      to {{assignment.endDate ? (assignment.endDate | date:'d MMM yyyy') : 'current' }}
      {{assignment.acting ? '(acting)' : ''}}
    </li>
  </ul>
</div>
<app-staff-assignment *ngIf="_addingAssignment">
</app-staff-assignment>