Assignments: <button (click)="changeSort()">{{ (sortAssignmentListAsc | async) ? 'Asc' : 'Desc' }}</button>
<ul>
  <li *ngFor="let assignment of (sortedAssignments | async)" 
    [ngClass]="{selected:(selectedAssignment | async)==assignment}"         
    (click)="selectAssignment.emit(assignment)">
    <span>
    {{assignment?.position?.title}} - 
    from {{assignment?.startDate | date:'d MMM yyyy'}} 
    to {{assignment.endDate ? (assignment.endDate | date:'d MMM yyyy') : 'current' }}
    {{assignment.acting ? '(acting)' : ''}}
    </span>
  </li>
</ul>
