<form [formGroup]="form" (ngSubmit)="updatePerson()">
  <button type="submit" [disabled]="!form.valid">OK</button>
  <button type="button" (click)="updateStaff.emit(undefined)">Cancel</button>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text"
           class="form-control"
           formControlName="name"
           placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="commenceDate">Date Commenced</label>
    <input type="date"
           class="form-control"
           formControlName="dateCommenced"
           placeholder="Date of commencement">
  </div>
  <div class="form-group">
    <label for="name">Date Exited</label>
    <input type="text"
           class="form-control"
           formControlName="dateExit"
           placeholder="Date exited">
  </div>
</form>
<div class="form-group" *ngIf="!addingNew">
  Current Position: {{staff?.currentAssignment?.position?.title}}
  <app-assignment-list
    [personId]="staff.person.id">
  </app-assignment-list>
</div>
