<ul>
  <li *ngFor="let member of staff" [ngClass]="{selected:(selectedPerson$ | async)?.id == member?.id}" (click)="onSelectPerson(member)">
    <span>
      {{member.name}} 
      (Commence date: {{member.commenceDate | date:'d MMM yyyy'}}) <br/>
      <span *ngIf="!showCurrentOnly && member.currentAssignment && member.actualAssignment && member.currentAssignment.positionId != member.actualAssignment.positionId">
        Actual: {{member.actualPosition?.title}}<br/>
      </span>
      <span *ngIf="member.currentAssignment && member.currentPosition; else nonCurrent">
        Current: {{member.currentPosition?.title}}
        &nbsp;({{member.currentPosition?.level}}{{member.currentAssignment.acting ? ', acting' : ''}})
      </span>
      <ng-template #nonCurrent>
        (Last assignment date:)
      </ng-template>
    </span>
  </li>
</ul>
