<form [formGroup]="parentForm">
  <button type="button" [disabled]="!parentForm.valid" (click)="onUpdatePerson(parentForm.value)">OK</button>
  <button type="button" (click)="updatePerson.emit(undefined)">Cancel</button>

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text"
           class="form-control"
           formControlName="name"
           placeholder="Enter name">
  </div>

  <div class="form-group">
    <label for="dateCommenced">Date Commenced</label>
    <input type="date"
           class="form-control"
           formControlName="dateCommenced"
           placeholder="Date of commencement">
  </div>

  <div class="form-group">
    <label for="dateDOB">Date of Birth</label>
    <input type="date"
           class="form-control"
           formControlName="dateDOB"
           placeholder="Date of birth">
  </div>

  <div *ngIf="addingNewPerson">
    <app-assignment-detail
      [parentForm]="parentForm">
    </app-assignment-detail>
  </div>

  <div *ngIf="!addingNewPerson">
    Current Position: {{person?.currentPosition?.title}}<br/>
    <button type="button" (click)="addAssignment()">New Assignment</button>
    <app-assignment-list>
    </app-assignment-list>

    <app-assignment-form *ngIf="_addingAssignment || _selectAssignment"
      [assignment]="(selectedAssignment$ | async)"
      (updateAssignment)="onUpdateAssignment(assignment)">
    </app-assignment-form>
  </div>

</form>
