<div class="form-group" [formGroup]="childForm">
    <label for="selectedPosition">Position</label>    
    <select class="form-control"
        formControlName="position"
        placeholder="Select position...">
        <option *ngFor="let position of (positions$ | async)" [ngValue]="position">
            {{position.title}}
        </option>
    </select>
    <label for="dateStart">Date Start</label>    
    <input class="form-control" formControlName="dateStart" type="date" />
    <label for="dateEnd">Date End</label>    
    <input class="form-control" formControlName="dateEnd" type="date" />
</div>
