<form>
  <select [(ngModel)]="positionId" name="position">
      <option *ngFor="let position of positions" value="{{position.id}}">
          {{position.title}}
      </option>
  </select>
  
  Date Start: <input [(ngModel)]="dateStart" name="startDate" type="date" />
  Date End: <input [(ngModel)]="dateEnd" name="endDate" type="date" />
  <input [(ngModel)]="acting" name="acting" type="checkbox" />
  <button type="button" (click)="setAssignment()">OK</button>
  <button type="button" (click)="updateAssignment.emit(undefined)">Cancel</button>
</form>
