<app-staff-list-filter 
    (updateFilter)="updateFilter($event)" 
    [defaultFilter]="defaultFilter">
</app-staff-list-filter>

Total: {{(staffListView | async)?.total}} of {{(staffListModel | async)?.total}}
<button (click)="addNewPerson()">Add new</button>

<app-staff-list 
    [staff]="(staffListView | async)?.staff"
    [filter]="filter"
    (selectPerson)="selectPerson($event)">
</app-staff-list>

<app-person-edit *ngIf="selectedPerson || _addingPerson"
    [staff]="selectedPerson"
    [addingNew]="_addingPerson"
    (updateStaff)="updateStaff($event)"
    (addAssignment)="addAssignment()">
</app-person-edit>

<app-staff-assignment *ngIf="_addingAssignment"
  (updateAssignment)="updateAssignment($event)">
</app-staff-assignment>

{{errorMessage}}
