<div *ngIf="!hasLoaded">
    Loading...
</div>
<app-staff-list-filter 
    (updateFilter)="updateFilter($event)" 
    [defaultFilter]="defaultFilter">
</app-staff-list-filter>

Total: {{(staffListView | async)?.total}} of {{(staffModel | async)?.total}}
<button (click)="addNewPerson()">Add new</button>

<app-staff-list
    [staff]="(staffListView | async)?.staff"
    [filter]="filter"
    [selectedStaff]="selectedStaff | async"
    (selectStaff)="selectStaff($event)">
</app-staff-list>
<!--[staff]="(selectedStaff | async)?.staff"-->
<app-staff-detail *ngIf="_selectedStaff || _addingPerson"
    
    [addingNew]="_addingPerson"
    (updateStaff)="updateStaff($event)">
</app-staff-detail>

{{errorMessage}}
